@import "../../static/css/mixin.scss";
.index-mine {
    width: 100%;
    height: 100%;
}

.user-info-header {
    width: 100%;
    height: rpx(314.95);
    padding: 0 rpx(37.41);
    border-bottom: 1px solid #f1f1f1;
}

.user-info-photo {
    width: rpx(181.01);
    height: rpx(181.01);
    border-radius: 50%;
    background-color: #aaa;
}

.user-info-name {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: rpx(9.05);
    padding: 2px 0;
}

.user-info-name-text {
    border-bottom: 1px solid rgba(203, 203, 203, 0.5);
    color: #000;
    font-weight: bold;
    font-size: rpx(38.61);
    line-height: rpx(44);
}

.user-info-desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: rpx(13.27) 0 rpx(18.1) 0;
    align-items: flex-end;
    align-items: center;
}

.user-info-desc-num {
    font-size: 18px;
    line-height: 18px;
}

.user-info-desc-text {
    font-size: 16px;
    line-height: 16px;
    margin: 0 5px;
}